= form_for @ticket do |f|
  - if @ticket.errors.any?
    #error_explanation
      %h2= "#{pluralize(@ticket.errors.count, "error")} prohibited this ticket from being saved:"
      %ul
        - @ticket.errors.full_messages.each do |msg|
          %li= msg

  = f.hidden_field :status_id, :value => Status.find_by_status("Waiting for Staff Response").id

  .field
    = f.label :username
    = f.text_field :username
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :subject
    = f.text_field :subject
  .field
    = f.label :department
    = f.collection_select :department_id, Department.all, :id, :name
  .field
    = f.label :body
    = f.text_area :body

  .actions
    = f.submit 'Save'
